body{
  width: 100%;
  margin:5% auto;
  text-align:center;
  font-family: "Helvetica Neue",Helvetica,Arial
}
.container-main{
  display:flex;
  width:100%;
  height:auto;
  flex-wrap:wrap;
  justify-content:center;
  margin:5% 0;
}
.list{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}